<div class="product-container">
	<div class="product-photography">
		<div class="product-photo-1"><%= image_tag("cardcase1.jpg", class: "product-photo1") %></div>
		<%= image_tag("cardcase2.jpg", class: "product-photo2") %>
		<%= image_tag("cardcase3.jpg", class: "product-photo3") %>
		<%= image_tag("cardcase4.jpg", class: "product-photo4") %>
		<%= image_tag("cardcase5.jpg", class: "product-photo5") %>
	</div>
	<div class="product-info">
		<div class="brand-name"><h1>LUKE MACAULEY</h1></div>
		<div class="product-title"><h1>Classic Card Case in Matte Black Python Leather</h1></div>
		<div class="product-price"><h1>$280.00</h1></div>
		<div class="product-description"><p>A beautiful card case handcrafted in Paris' finest leather atelier. Matte black Italian python outer by Louisiane HCP with black French goatskin lining by Alran. No Branding. Structured finish. Tonal stitching. Five compartments total.</p></div>
		<div class="product-details">
			<ul>
				<li>100% Grade A Python Leather</li>
				<li>5 Card Slots</li>
				<li>Made in France</li>
			</ul>
		</div>
		<div class="product-dimensions"><p>Dimensions: 10 x 8 centimeters</p></div>
		<div class="add-to-cart-button"><button>Add to Cart</button></div>
	</div>
</div>

<div class="xl-product-photo"><%= image_tag("cardcase1.jpg") %></div>