<div id="home-feed">
	<%= image_tag("feed1.jpg", id: "feed1") %>
	<%= image_tag("feed2.jpg", id: "feed2") %>
	<%= image_tag("feed3.jpg", id: "feed3") %>
	<%= image_tag("feed4.jpg", id: "feed4") %>
	<%= image_tag("feed5.jpg", id: "feed5") %>
	<%= image_tag("feed6.jpg", id: "feed6") %>
	<%= image_tag("feed7.jpg", id: "feed7") %>
	<%= image_tag("feed8.jpg", id: "feed8") %>
	<%= image_tag("feed9.jpg", id: "feed9") %>
	<%= image_tag("feed10.jpg", id: "feed10") %>
</div>