<div class="product-container">
	<div class="product-info">
		<div class="brand-name"><h1>LUKE MACAULEY</h1></div>
		<div class="product-title"><h1>Classic Bi-fold Wallet in Matte Black Python Leather</h1></div>
		<div class="product-price"><h1>$550.00</h1></div>
		<div class="product-description"><p>A beautiful bi-fold wallet handcrafted in Paris' finest leather atelier. Matte black Italian python outer by Louisiane HCP with black French goatskin lining by Alran. No Branding. Structured finish. Tonal stitching. Eight card compartments.</p></div>
		<div class="product-details">
			<ul>
				<li>100% Grade A Python Leather</li>
				<li>8 Card Slots</li>
				<li>2 Bill Slots</li>
				<li>2 Hidden Compartments</li>
				<li>Made in France</li>
			</ul>
		</div>
		<div class="product-dimensions"><p>Dimensions: 11 x 9 centimeters closed. 22 x 9 centimeters open.</p></div>
		<div class="add-to-cart-button"><button>Add to Cart</button></div>
	</div>
	<div class="product-photography">
		<div class="product-photo-1 p1"><%= image_tag("wallet1.jpg", class: "product-photo1") %></div>
		<div class="product-photo-1 p2"><%= image_tag("wallet2.jpg", class: "product-photo2") %></div>
		<div class="product-photo-1 p3"><%= image_tag("wallet3.jpg", class: "product-photo3") %></div>
		<div class="product-photo-1 p4"><%= image_tag("wallet4.jpg", class: "product-photo4") %></div>
		<div class="product-photo-1 p5"><%= image_tag("wallet5.jpg", class: "product-photo5") %></div>
	</div>
</div>

<div class="xl-product-photo xl1"><%= image_tag("wallet1.jpg") %></div>
<div class="xl-product-photo xl2"><%= image_tag("wallet2.jpg") %></div>
<div class="xl-product-photo xl3"><%= image_tag("wallet3.jpg") %></div>
<div class="xl-product-photo xl4"><%= image_tag("wallet4.jpg") %></div>
<div class="xl-product-photo xl5"><%= image_tag("wallet5.jpg") %></div>