<footer>
	<ul class="center">
		<li><%= link_to "Contact", contact_path %></li>
		<li><%= link_to "Subscribe", subscribe_path %></li>
		<li><%= link_to "Delivery", delivery_path %></li>
		<li><%= link_to "Returns", returns_path %></li>
		<li><%= link_to "Legal", legal_path %></li>
		<li><%= link_to "Social", 'javascript:void(0)' %></li>
	</ul>
</footer>