<footer>
	<ul class="center">
		<li><%= link_to "Contact" %></li>
		<li><%= link_to "Subscribe" %></li>
		<li><%= link_to "Delivery" %></li>
		<li><%= link_to "Returns" %></li>
		<li><%= link_to "Legal" %></li>
		<li><%= link_to "Social" %></li>
	</ul>
</footer>